<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  
  <!-- EN: Paper art exhibition -->
  <OpportunitySite_PaperArtExhibition>纸艺展览</OpportunitySite_PaperArtExhibition>
  
  <!-- EN: Sky lantern festival -->
  <OpportunitySite_SkyLanternFestival>天灯节</OpportunitySite_SkyLanternFestival>
  
  <!-- EN: Hunting surplus -->
  <OpportunitySite_HuntingSurplus>狩猎盈余</OpportunitySite_HuntingSurplus>
  
  <!-- EN: Bonfire party -->
  <OpportunitySite_BonfireParty>篝火晚会</OpportunitySite_BonfireParty>
  
  <!-- EN: Mineral discovery -->
  <MineralDiscovery>矿物发现</MineralDiscovery>
  
  <!-- EN: Pirates outpost -->
  <PiratesOutpost>海盗据点威胁</PiratesOutpost>
  
  <!-- EN: Problem causer -->
  <ProblemCauser>威胁站点</ProblemCauser>
  
  <!-- EN: Beggar -->
  <Beggar>绮罗行乞者</Beggar>
  
  <!-- EN: Refugee baby -->
  <RefugeeBaby>绮罗托孤</RefugeeBaby>
  
  <!-- EN: Wanderer join -->
  <WandererJoin>绮罗流浪者加入</WandererJoin>
  
  <!-- EN: Relative join -->
  <RelativeJoin>绮罗家族成员加入</RelativeJoin>
  
  <!-- EN: Hospitality refugee -->
  <HospitalityRefugee>绮罗漂泊者借宿</HospitalityRefugee>
  
  <!-- EN: New settlement establish -->
  <NewSettlementEstablish>绮罗新村镇</NewSettlementEstablish>
  
  <!-- EN: Thrumbo found -->
  <ThrumboFound>敲击兽踪迹</ThrumboFound>

  <!-- EN: Harvest Day -->
  <HarvestDay>丰收之日</HarvestDay>

  <!-- EN: Medical assistance -->
  <MedicalAssistance>医护援助</MedicalAssistance>

  <!-- EN: Wanderer merchant join -->
  <WandererMerchantJoin>绮罗流浪商人</WandererMerchantJoin>

  <!-- EN: Show merchant button in the bottom -->
  <Kiiro_MerchantMainButton>底部菜单显示商户信息卡</Kiiro_MerchantMainButton>
  <!-- EN: Merchant shelf goods rendering -->
  <Kiiro_MerchantGoodsDisplay>商铺货架商品渲染</Kiiro_MerchantGoodsDisplay>
  <!-- EN: Automatically set merchant schedule -->
  <Kiiro_DefaultMerchantWorkTime>自动设置商户工作时间表</Kiiro_DefaultMerchantWorkTime>
  <!-- EN: Allow shopping joy kind -->
  <Kiiro_AllowShoppingJoy>允许购物娱乐类型</Kiiro_AllowShoppingJoy>
  <!-- EN: Show colonist shopping message -->
  <Kiiro_ShoppingMessage>显示购物提示消息</Kiiro_ShoppingMessage>


  <!-- UNUSED -->
  <Kiiro_EventSetting>事件设置</Kiiro_EventSetting>
  <GuerrillaAssist>游击队阻击战</GuerrillaAssist>
  <Kiiro_MerchantSetting>商户设置</Kiiro_MerchantSetting>

</LanguageData>