<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<MBADP.Settings.RunsOnSaveLoad>读取存档时运行小人清理</MBADP.Settings.RunsOnSaveLoad>

	<MBADP.Settings.ExtraCleanUpCheckbox>启用额外的小人清理功能</MBADP.Settings.ExtraCleanUpCheckbox>

	<MBADP.Settings.GentleCleanUpCheckbox>更"温和"的小人清理(详见悬停提示)</MBADP.Settings.GentleCleanUpCheckbox>
	<MBADP.Settings.GentleCleanUpTooltip>如果你使用 RIMMSqol 或其他类似 mod,可能需要开启此选项。
原因: 某些 mod 会创建存储小人的非标准地图对象。如果该 mod 没有把小标记为永久保留,小人可能被垃圾清理误删。
此选项试图解决该问题</MBADP.Settings.GentleCleanUpTooltip>

	<MBADP.Settings.RunMothballerCheckbox>读取存档时强制运行小人封存?</MBADP.Settings.RunMothballerCheckbox>
	
	<MBADP.Settings.RunAnimalsCleanUpCheckbox>运行动物清理?</MBADP.Settings.RunAnimalsCleanUpCheckbox>
	<MBADP.Settings.DiscardAnimalsAfter>丢弃符合条件的动物(不限阵营)于 {0} 天后(60 天 = 1 年)</MBADP.Settings.DiscardAnimalsAfter>

	<MBADP.Settings.RunColonistsCleanUpCheckbox>运行(现任或前任)殖民者清理?</MBADP.Settings.RunColonistsCleanUpCheckbox>
	<MBADP.Settings.DiscardColonistsAfter>丢弃符合条件的殖民者于 {0} 天后(60 天 = 1 年)</MBADP.Settings.DiscardColonistsAfter>

	<MBADP.Settings.RunOtherPawnsCleanUpCheckbox>运行其他所有小人的清理?</MBADP.Settings.RunOtherPawnsCleanUpCheckbox>
	<MBADP.Settings.DiscardOtherPawnsAfter>丢弃符合条件的其他小人于 {0} 天后(60 天 = 1 年)</MBADP.Settings.DiscardOtherPawnsAfter>

	<MBADP.Settings.DiscardTooltip>可以设为 0 立即丢弃世界小人,但不建议</MBADP.Settings.DiscardTooltip>

	<MBADP.Settings.RunQuestsCleanUpCheckbox>运行旧任务记录清理?</MBADP.Settings.RunQuestsCleanUpCheckbox>
	<MBADP.Settings.DiscardQuestsAfter>丢弃旧任务于 {0} 天后(60 天 = 1 年)</MBADP.Settings.DiscardQuestsAfter>
	<MBADP.Settings.DiscardQuestsAfterTooltip>对性能提升不大,但可以减小存档体积</MBADP.Settings.DiscardQuestsAfterTooltip>

	<MBADP.Settings.RunBadBulletsCleanupCheckbox>移除投掷的飞斧?(用于修复 VFE-中世纪2 与 CE 的兼容问题)</MBADP.Settings.RunBadBulletsCleanupCheckbox>

	<MBADP.Settings.DisableLetter>完全禁用报告信函</MBADP.Settings.DisableLetter>

	<MBADP.Settings.DetailedReportLetter>提供被丢弃小人的详细报告?可能生成巨大的信函。</MBADP.Settings.DetailedReportLetter>
	<MBADP.Settings.AlivePawnsReportLetter>提供不符合清理条件的小人报告?用于调试</MBADP.Settings.AlivePawnsReportLetter>

	<MBADP.Settings.Default>默认设置</MBADP.Settings.Default>
</LanguageData>
