<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  
  <OpportunitySite_PaperArtExhibition>Paper art exhibition</OpportunitySite_PaperArtExhibition>
  
  <OpportunitySite_SkyLanternFestival>Sky lantern festival</OpportunitySite_SkyLanternFestival>
  
  <OpportunitySite_HuntingSurplus>Hunting surplus</OpportunitySite_HuntingSurplus>
  
  <OpportunitySite_BonfireParty>Bonfire party</OpportunitySite_BonfireParty>
  
  <MineralDiscovery>Mineral discovery</MineralDiscovery>
  
  <PiratesOutpost>Pirates outpost</PiratesOutpost>
  
  <ProblemCauser>Problem causer</ProblemCauser>
  
  <Beggar>Beggar</Beggar>
  
  <RefugeeBaby>Refugee baby</RefugeeBaby>
  
  <WandererJoin>Wanderer join</WandererJoin>
  
  <RelativeJoin>Relative join</RelativeJoin>
  
  <HospitalityRefugee>Hospitality refugee</HospitalityRefugee>
  
  <NewSettlementEstablish>New settlement establish</NewSettlementEstablish>
  
  <ThrumboFound>Thrumbo found</ThrumboFound>

  <HarvestDay>Harvest Day</HarvestDay>

  <MedicalAssistance>Medical assistance</MedicalAssistance>

  <WandererMerchantJoin>Wanderer merchant join</WandererMerchantJoin>

  <Kiiro_MerchantMainButton>Show merchant button in the bottom</Kiiro_MerchantMainButton>
  <Kiiro_MerchantGoodsDisplay>Merchant shelf goods rendering</Kiiro_MerchantGoodsDisplay>
  <Kiiro_DefaultMerchantWorkTime>Automatically set merchant schedule</Kiiro_DefaultMerchantWorkTime>
  <Kiiro_AllowShoppingJoy>Allow shopping joy kind</Kiiro_AllowShoppingJoy>
  <Kiiro_ShoppingMessage>Show colonist shopping message</Kiiro_ShoppingMessage>


</LanguageData>