<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<MBADP.Settings.RunsOnSaveLoad>The pawn clean up runs when game save is loaded</MBADP.Settings.RunsOnSaveLoad>

	<MBADP.Settings.ExtraCleanUpCheckbox>Enable extra pawn cleanup functionality</MBADP.Settings.ExtraCleanUpCheckbox>

	<MBADP.Settings.GentleCleanUpCheckbox>More "gentle" pawn cleanup (read the tooltip for details)</MBADP.Settings.GentleCleanUpCheckbox>
	<MBADP.Settings.GentleCleanUpTooltip>You may need to turn this option if you use RIMMSqol, or some other mods.
The reason: some mods may create non-standard map objects that store pawns. If the mod in question fails to mark the pawn as forever-kept, pawn may be removed by the garbage collection.
This option TRIES to address the issue</MBADP.Settings.GentleCleanUpTooltip>

	<MBADP.Settings.RunMothballerCheckbox>Forcibly run pawns mothballer on save load?</MBADP.Settings.RunMothballerCheckbox>
	
	<MBADP.Settings.RunAnimalsCleanUpCheckbox>Run animals cleanup?</MBADP.Settings.RunAnimalsCleanUpCheckbox>
	<MBADP.Settings.DiscardAnimalsAfter>Discard eligible animals (regardless of faction) after {0} days (60 days = 1 year)</MBADP.Settings.DiscardAnimalsAfter>

	<MBADP.Settings.RunColonistsCleanUpCheckbox>Run (current or former) colonists cleanup?</MBADP.Settings.RunColonistsCleanUpCheckbox>
	<MBADP.Settings.DiscardColonistsAfter>Discard eligible colonist pawns after {0} days (60 days = 1 year)</MBADP.Settings.DiscardColonistsAfter>

	<MBADP.Settings.RunOtherPawnsCleanUpCheckbox>Run a cleanup for all the other pawns?</MBADP.Settings.RunOtherPawnsCleanUpCheckbox>
	<MBADP.Settings.DiscardOtherPawnsAfter>Discard eligible pawns after {0} days (60 days = 1 year)</MBADP.Settings.DiscardOtherPawnsAfter>

	<MBADP.Settings.DiscardTooltip>You can set it to 0 and discard world pawns immediately, but it's not advised</MBADP.Settings.DiscardTooltip>

	<MBADP.Settings.RunQuestsCleanUpCheckbox>Run a cleanup for old quest records?</MBADP.Settings.RunQuestsCleanUpCheckbox>
	<MBADP.Settings.DiscardQuestsAfter>Discard old quests after {0} days (60 days = 1 year)</MBADP.Settings.DiscardQuestsAfter>
	<MBADP.Settings.DiscardQuestsAfterTooltip>Won't improve your performance much, but may reduce save file size</MBADP.Settings.DiscardQuestsAfterTooltip>

	<MBADP.Settings.RunBadBulletsCleanupCheckbox>Remove thrown Throwing Axe? (to fix a possible VFE-Medieval 2 and CE compatibility issue)</MBADP.Settings.RunBadBulletsCleanupCheckbox>

	<MBADP.Settings.DisableLetter>Totally disable report letter</MBADP.Settings.DisableLetter>

	<MBADP.Settings.DetailedReportLetter>Provide detailed report about discarded pawns? It may generate HUGE letters.</MBADP.Settings.DetailedReportLetter>
	<MBADP.Settings.AlivePawnsReportLetter>Provide report about the pawns not eligible for cleanup? Useful for debugging</MBADP.Settings.AlivePawnsReportLetter>

	<MBADP.Settings.Default>Default Settings</MBADP.Settings.Default>
</LanguageData>