<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
  
  <!-- EN: Paper art exhibition -->
  <OpportunitySite_PaperArtExhibition>紙藝展覽</OpportunitySite_PaperArtExhibition>
  
  <!-- EN: Sky lantern festival -->
  <OpportunitySite_SkyLanternFestival>天燈節</OpportunitySite_SkyLanternFestival>
  
  <!-- EN: Hunting surplus -->
  <OpportunitySite_HuntingSurplus>狩獵盈餘</OpportunitySite_HuntingSurplus>
  
  <!-- EN: Bonfire party -->
  <OpportunitySite_BonfireParty>篝火晚會</OpportunitySite_BonfireParty>
  
  <!-- EN: Mineral discovery -->
  <MineralDiscovery>礦物發現</MineralDiscovery>
  
  <!-- EN: Pirates outpost -->
  <PiratesOutpost>海盜據點威脅</PiratesOutpost>
  
  <!-- EN: Problem causer -->
  <ProblemCauser>威脅站點</ProblemCauser>
  
  <!-- EN: Beggar -->
  <Beggar>綺羅行乞者</Beggar>
  
  <!-- EN: Refugee baby -->
  <RefugeeBaby>綺羅託孤</RefugeeBaby>
  
  <!-- EN: Wanderer join -->
  <WandererJoin>綺羅流浪者加入</WandererJoin>
  
  <!-- EN: Relative join -->
  <RelativeJoin>綺羅家族成員加入</RelativeJoin>
  
  <!-- EN: Hospitality refugee -->
  <HospitalityRefugee>綺羅漂泊者借宿</HospitalityRefugee>
  
  <!-- EN: New settlement establish -->
  <NewSettlementEstablish>綺羅新村鎮</NewSettlementEstablish>
  
  <!-- EN: Thrumbo found -->
  <ThrumboFound>敲擊獸軌跡</ThrumboFound>

  <!-- EN: Harvest Day -->
  <HarvestDay>豐收之日</HarvestDay>

  <!-- EN: Medical assistance -->
  <MedicalAssistance>醫護援助</MedicalAssistance>

  <!-- EN: Wanderer merchant join -->
  <WandererMerchantJoin>綺羅流浪商人</WandererMerchantJoin>

  <!-- EN: Show merchant button in the bottom -->
  <Kiiro_MerchantMainButton>底部菜單顯示商戶資訊卡</Kiiro_MerchantMainButton>
  <!-- EN: Merchant shelf goods rendering -->
  <Kiiro_MerchantGoodsDisplay>商舖貨架商品渲染</Kiiro_MerchantGoodsDisplay>
  <!-- EN: Automatically set merchant schedule -->
  <Kiiro_DefaultMerchantWorkTime>自動設定商戶工作時間表</Kiiro_DefaultMerchantWorkTime>
  <!-- EN: Allow shopping joy kind -->
  <Kiiro_AllowShoppingJoy>允許購物娛樂型別</Kiiro_AllowShoppingJoy>
  <!-- EN: Show colonist shopping message -->
  <Kiiro_ShoppingMessage>顯示購物提示訊息</Kiiro_ShoppingMessage>


  <!-- UNUSED -->
  <Kiiro_EventSetting>事件設定</Kiiro_EventSetting>
  <GuerrillaAssist>游擊隊阻擊戰</GuerrillaAssist>
  <Kiiro_MerchantSetting>商戶設定</Kiiro_MerchantSetting>

</LanguageData>