<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
	<!-- Settings -->
	<SetUpCampSettings>Set Up Camp</SetUpCampSettings>
	<SetUpCampNote>Note: these values are not retroactive and will not effect existing camps</SetUpCampNote>

	<CampResources>Camp resources</CampResources>
	<CampResourcesTooltip>Allow camp maps to generate non-rock resources.</CampResourcesTooltip>

	<RaidTimer>Raid timer</RaidTimer>
	<RaidTimerTooltip>Roughly the number of days before a campsite will be raided.\nEnter 0 to disable.</RaidTimerTooltip>
	
	<AbandonedCampDuration>Abandoned camp duration (days)</AbandonedCampDuration>
	<AbandonedCampDurationTooltip>The number of days abandoned campsites will persist on the world map.\nEnter 0 to disable.</AbandonedCampDurationTooltip>
	
	<PersistCamp>Persistent camps</PersistCamp>
	<PersistCampTooltip>Allows permanent camps that can exists without colonists present.</PersistCampTooltip>
	
	<PersistCampWarn>Warning: Unmarking a persistent camp while a colonist is not present will cause it to be abandoned.</PersistCampWarn>

	<PersistCampDefault>Default camp persistence</PersistCampDefault>
	<PersistCampDefaultTooltip>Newly created camps will be automatically marked as persistent if enabled.</PersistCampDefaultTooltip>

	<ConfirmEmptyCamps>Confirm abandoning persistent camps</ConfirmEmptyCamps>
	<ConfirmEmptyCampsTooltip>Removes the confirmation dialog when unmarking persistent camps if disabled.</ConfirmEmptyCampsTooltip>
	
	<OverideCampSize>Override camp map size</OverideCampSize>
	<MapSizeMini>Mini</MapSizeMini>
</LanguageData>