<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<!-- Rage Virus -->
	<LabelRVH>Warning: Rage Virus!</LabelRVH>
	<DescRVH>An unknown calamity has struck! Most of the humans in the area have been driven insane and are attacking each 
other! Half of your colonists are affected. Hurry up and do something!</DescRVH>

</LanguageData>