################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# 排除 Visual Studio 和 Cursor 相关目录
**/.vs/
**/.cursor/
.vs/
.cursor/

# 排除编译输出
/1.6/Assemblies/RatkinUnderground.dll
/1.5/Assemblies/RatkinUnderground.dll
/1.5/Assemblies/RatkinUnderground.pdb

# 排除 obj 目录
**/obj/
**/bin/
